<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PhxGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <switches>
      <add name="PhxStudioSwitches" value="All" />
    </switches>
    <sharedListeners>
      <add name="TextTrace" type="System.Diagnostics.TextWriterTraceListener"
        initializeData="PhxGui.log"
        />
      <add name="BetterTextTrace"
        type="KSoft.Debug.KSoftFileLogTraceListener, KSoft"
        Location="ExecutableDirectory"
        Append="false"
        DoNotIncludeEventId="true"
        />
    </sharedListeners>
    <sources>
      <!-- KSoft.dll -->
      <source name="KSoft" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.IO" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.LowLevel" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Reflection" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Text" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Util" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>

      <!-- KSoft.Phoenix.dll -->
      <source name="KSoft.Phoenix" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Phoenix.Engine" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Phoenix.Resource" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Security" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Phoenix.Triggers" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
      <source name="KSoft.Phoenix.XML" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>

      <!-- PhxGui.exe -->
      <source name="PhxGui" switchName="PhxStudioSwitches">
        <listeners>
          <add name="BetterTextTrace" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true">
      <listeners>
        <add name="BetterTextTrace" />
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <PhxGui.Properties.Settings>
      <setting name="GameVersion" serializeAs="String">
        <value>DefinitiveEdition</value>
      </setting>
      <setting name="EraExpandOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="EraBuildOutputPath" serializeAs="String">
        <value />
      </setting>
    </PhxGui.Properties.Settings>
  </userSettings>
</configuration>